rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read, write, and delete their own songs
    match /songs/{songId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.uid;
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.uid;
    }
    
    // Allow users to read, write, and delete their own user documents
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
} 